## 1. Count numbers (*)

Use a **for** statement to count from: 

&nbsp; a) &nbsp; -10 to 10 with one increment (*)

&nbsp; b) &nbsp; -10 to 10 with two increment (*)

<details>

<summary>Answer </summary>

```
a) -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

b) -10  -8  -6  -4  -2  0  2  4  6  8  10
```

</details>

In [ ]:
# a)
for i in range(-10, 11):
    print(i)

In [3]:
# b)
for i in range(-10, 11, 2):
    print(i)

-10
-8
-6
-4
-2
0
2
4
6
8
10

---
## 2. Arithmetic sum (*)
Use a **for** statement to compute the following sums: 

&nbsp; a) &nbsp; $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

&nbsp; b) &nbsp; $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

<details>

<summary>Answer </summary>

```
a) 1 + 2 + ... + 99 + 100 = 5050 

b) 1 + 3 + 5 +...+ 97 + 99 = 2500
```

</details>

In [8]:
# a)
sum=0
for i in range(1, 101):
    sum += i    
print(sum)

5050

In [9]:
# b)
sum=0
for i in range(1, 101, 2):
    sum += i    
print(sum)

2500

---
## 3. Multiplication table (*)
Use **for** statement(s) to:

&nbsp; a) &nbsp; print out the 6th multiplication table from 0 to 10 (*)

&nbsp; b) &nbsp; let the user input the **table**, **start** and **end** of the table. (*)

&nbsp; c) &nbsp; print out a full multiplication table from 0 to 10. (**)


<details>

<summary>Hint</summary>

c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use **f-string**: 

```python
print(f"{number :4}", end = "")
```


</details>


<details>

<summary>Answer </summary>

a)
```
0 6 12 18 24 30 36 42 48 54 60
```

b) e.g. 

```
Which table are you interested in? 5
Specify start of table: 5
Specify end of table: 12

Your 5th multiplication table from 5 to 12: 25 30 35 40 45 50 55 60
```

c)

```
   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100
```

</details>

In [ ]:
# a) 

for i in range(0,61,6):
    print(i)

In [ ]:
# b)
print(f"{' Multiplication table ':-^60}\n")

table = int(input("For which number do you want to see the multiplication table? "))
start = int(input("From which number do you want it to start? "))
end = int(input("At which number do you want it to end? "))

print(f"Your {table}th table from {start} to {end}:")

for i in range(start*table,(end*table)+1,table):
    print(f"{i}")

In [33]:
# c)

print(f"{' Complete multiplication table 0-10 ':-^46}\n")

for i in range(0,11):
    for j in range(0,11):
        print(f"{i*j :4}", end = "")
    print()

----- Complete multiplication table 0-10 -----

   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100

---
## 4. Faculty (*)

Use a **for** statement to compute $n!$. 

$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $

Let the user input $n$.

In [42]:
print(f"{' n!-calculator ':-^38}\n")

def factorial(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

n = int(input("Enter a number: "))

print(f"The factorial of {n} is {factorial(n)}.")

----------- n!-calculator ------------

The factorial of 6 is 720.

--- 
## 5. Guess the number (*)

The computer thinks of a four-digit number. Start by creating a random four-digit number. Use **for** statement to figure out a correct guess

<br>
<details>

<summary>Answer </summary>

e.g.
```
The final guess is 8993
The computer number is 8993
```

</details>

In [47]:
import random

number = random.randint(1000,9999)

for i in range(1000,9999):
    if i == number:
        print(f"Hoooorah! The number has been found (it was {number})")

Hoooorah! The number has been found (it was 8613)

---
## 6. Rice on chessboard (*)

In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

In [56]:
# The formula is 2^(i-1) for each square up until n
sum=1
for i in range(1,65):
    sum*=2
print(f"The number of rice on the chessboard is {sum-1:,}.")

The number of rice on the chessboard is 18,446,744,073,709,551,615.